h1 {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #331e36;
}

.btn {
    margin-bottom: 20px;
}

button {
    border: none;
    border-radius: 10px;
    background-color: #21361e;
    color: white;
    padding: 10px 30px 10px 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    background-color: white;
    width: 960px;
    height: 960px;
    transform: scale(0.75);
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
