body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #331e36;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    background-color: white;
    width: 800px;
    height: 800px;
}
.container div {
    height: 50px;
    width: 50px;
}
